* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.layout {
    display: flex;
    position: relative;
    color: lightgray;
    width: 1440px;
}

.left_sidebar {
    color: white;
    width: 305px;
    height: 1315px;
}   

.profile_img {
    width: 150px;
    height: 150px;
}