body {
    width: 1440px;
    height: 8063px;
    margin: 0;
    background-color: lightgray;
}
* {

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto; 
    font-style: normal;
}

.layout {
    display: flex;
    width: 1440px;
    height: 8063px;
    background:  lightgray;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
}
/*------------------line 6------------------*/
.line6 {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 220px;
    height: 1.5px;
    margin: 25px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line6 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*------------------line 1------------------*/
.line1 {
    margin-top:5px ;
    margin-bottom:9px ;
    width: 220px;
    height: 4px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line1 .img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*------------------line 2------------------*/
.line2 {
    margin-top: 5px;
    margin-bottom:10px ;
    width: 220px;
    height: 4px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line2 .img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*------------------left side bar------------------*/
.left_side {
    background-color: white;
    width: 305px;
    height: 1315px;
    flex-shrink: 0;
}

.left_side .h4_texts {
    margin: 0px;
    color: var(--Black, #2B2B2B);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%;
    text-transform: capitalize;
}

.profile_card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:74px;
    padding-top: 50px;
    padding-right: 81px;
}

.avt {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    border-radius: 150px;
    border: 1px solid #000;
    background: url(<path-to-image>) lightgray 0px -0.355px / 100% 100.473% no-repeat;
}

.onl {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 16px;
    height: 16px;
    flex-shrink: 0;
    fill: var(--Available, #7EB942);
    filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.15));
}

.profile_name {
    color: #2B2B2B;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%; 
    text-transform: capitalize;
    margin-top:31px ;
    margin-bottom: 15px;
}

.profile_title {
    margin-bottom: 0px;
    color: #767676;
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    text-transform: capitalize;
}

.profile_icons  {
    display: flex; 
    gap:15px;
    justify-content: space-between;
    margin-top: 15px;
    width: 219px;
    height: 24px;
    flex-shrink: 0;
}

.icon_layout {
    position: relative;
    width: 24px;
    height: 24px;
}

.icons {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14px;
    height: 14px;
    transform: translate(-50%, -50%);
    object-fit: contain;
}
/*------------------basic profile------------------*/
.basic_profile {
    padding-left:40px ;
    padding-right:45px ;
    width: 220px;
    height: 126px;
    flex-shrink: 0;
}

.age {
    margin-bottom: 10px;
    position: relative;
    width: 220px;
    height: 25px;
    flex-shrink: 0;
}

.age_layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 46px;
    height: 24px;
    flex-shrink: 0;
    z-index: 0;
}

.age_texts {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.Age {
    margin: 0px;
    padding-left: 5px; 
    color: #2B2B2B;
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
}

.age_24{
    margin: 0px;
    color: #2B2B2B;
    text-align: right;
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
}

.residence {
    margin-bottom: 10px;
    position: relative;
    width: 220px;
    height: 24px;
    flex-shrink: 0;
}

.residence .residence_bg {
    position: absolute;
    z-index: 0;
    left: 0;
    width: 89px;
    height: 24px;
    flex-shrink: 0;
}

.residence .residence_texts {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
 
.residence .Residence {
    margin: 0px;
    padding-left: 5px;
    color: var(--Black, #2B2B2B);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
}

.residence .residence_BD {
    margin: 0px;
    color: var(--Black, #2B2B2B);
    text-align: right;
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
}

.Freelance {
    margin-bottom: 10px;
    position: relative;
    width: 220px;
    height: 24px;
    flex-shrink: 0;
}

.Freelance .Freelance_bg {
    position: absolute;
    left: 0;
    z-index: 0;
    width: 85px;
    height: 24px;
    flex-shrink: 0;
}

.Freelance .Freelance_texts {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.Freelance .freelance {
    padding-left: 5px;
    margin: 0px;
    color: var(--Black, #2B2B2B);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    text-transform: capitalize;
}

.Freelance .Freelance_Available {
    margin: 0px;
    color: var(--Available, #7EB942);
    text-align: right;
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
}

.address {
    position: relative;
    margin-top: 0px;
    width: 220px;
    height: 24px;
    flex-shrink: 0;
}

.address .address_bg {
    position: absolute;
    left: 0;
    z-index: 0;
    width: 75px;
    height: 24px;
    flex-shrink: 0;
}

.address .address_texts {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.address .Address {
    margin: 0;
    padding-left: 5px;
    color: var(--Black, #2B2B2B);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    text-transform: capitalize;
}

.address .Address_street {
    margin: 0;
    color: var(--Black, #2B2B2B);
    text-align: right;
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
}

/*------------------Languages------------------*/
.Languages_layout {
    padding-left: 40px;
    padding-right: 45px;
    width: 220px;
    height: 153px;
    flex-shrink: 0;
}

.Languages_BG {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 219px;
    height: 24px;
    flex-shrink: 0;
}

.Languages_NAME {
    margin: 0px;
    color: var(--Paragraph-Font, #767676);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
}

.Bangla_100 {
    margin: 0px;
    color: var(--Paragraph-Font, #767676);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    text-transform: capitalize;
}

.English_80 {
    margin: 0px;
    color: var(--Paragraph-Font, #767676);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
}

.Spanish_60 {
    margin: 0px;
    color: var(--Paragraph-Font, #767676);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
}

/*------------------Skills------------------*/
.Skills_layout {
    padding-left: 40px;
    padding-right: 45px;
    width: 220px;
    height: 242px;
    flex-shrink: 0;
}

.Skills_CODE {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
    height: 24px;
    flex-shrink: 0;
}

.CODE {
    margin: 0px;
    color: var(--Paragraph-Font, #767676);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
}

.HTML_90 {
    margin: 0px;
    color: var(--Paragraph-Font, #767676);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
}

.CSS_85 {
    margin: 0px;
    color: var(--Paragraph-Font, #767676);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
}

.JS_80 {
    margin: 0px;
    color: var(--Paragraph-Font, #767676);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
}

.PHP_75 {
    margin: 0px;
    color: var(--Paragraph-Font, #767676);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
}

.WordPress_85 {
    margin: 0px;
    color: var(--Paragraph-Font, #767676);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
}

/*------------------Extra Skills------------------*/
.ExtraSkills_layout { 
    padding-left: 40px;
    padding-right: 79px;
    width: 186px;
    height: 148px;
    flex-shrink: 0;
}

.EK_BG {
    margin-bottom: 5px;
    gap: 15px;
    position: relative;
    display: flex;
    align-items: center;
    width: 186px;
    height: 24px;
    flex-shrink: 0;;
}

.EK_icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
}

.EK_texts {
    margin: 0px;
    color: var(--Paragraph-Font, #767676);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
}

/*------------------DOWNLOAD------------------*/
.dl_btn {
    margin-left: 40px;
    margin-right:45px ;
    display: inline-block;
    text-decoration: none;
    background-color: #FFB400;
    border-radius: 4px;
    width: 220px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19px;
    transition: background-color 0.3s ease;
}

.dl_layout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 40px;
    flex-shrink: 0;
}

.gr {
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.dl_btn:hover {
    background-color: #e0a200;
}

.dl_btn .dl_texts {
    width: 108px;
    height: 19.429px;
    flex-shrink: 0;
    color: var(--Black, #2B2B2B);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

